@model JCleanLaundry.Barang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Barang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Harga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Harga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipeCuciFK.Tipe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipeCuciFK.Tipe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Kode }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")