@using JCleanLaundry.Models;

@model IEnumerable<BarangViewModel>

@{
    ViewBag.Title = "Daftar Barang";
}
<h2>
    <i class="fa fa-black-tie tambah-barang_image-title" aria-hidden="true"></i> Barang
</h2>
<hr />
<div class="col-xs-12 cuci-baru_div-container">
    <p>
        <a class="btn btn-primary" href="@Url.Action("Create", "Barang")">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> Tambah Barang
        </a>
    </p>
    <table class="table table-responsive table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Harga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipeCuci.Tipe)
            </th>
            <th>Ubah</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Harga)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipeCuci.Tipe)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Barang", new {id = item.Id})">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
