@model JCleanLaundry.Models.ProsesSatuanViewModel

<h2>
    <i class="fa fa-shopping-basket transaksi_image-title" aria-hidden="true"></i> Cetak Transaksi
</h2>
<hr />

<div class="col-xs-12 transaksi_div-container" id="transaksi_div-container">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a aria-expanded="false">
                        <i class="fa fa-credit-card" aria-hidden="true"></i> Nota
                    </a>
                </h4>
            </div>
            <div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.KodeTransaksi, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.DisplayFor(m => m.KodeTransaksi)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Pelanggan, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.DisplayFor(m => m.Pelanggan.Nama) (@Html.DisplayFor(m => m.Pelanggan.Hp))
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TanggalMasuk, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.DisplayFor(m => m.TanggalMasuk)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TanggalSelesai, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.DisplayFor(m => m.TanggalSelesai)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NamaCounter, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.DisplayFor(m => m.NamaCounter) (@Html.DisplayFor(m => m.Staff))
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="transaksi_div-aksi">
        <button class="btn btn-primary btn-lg transaksi_btn-batal"><i class="fa fa-times" aria-hidden="true"></i> Batal</button>
        <button class="btn btn-primary btn-lg satuan_btn-proses"><i class="fa fa-floppy-o" aria-hidden="true"></i> Proses</button>
    </div>

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/datatable")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/transaksi")