@model JCleanLaundry.Models.CuciBaruViewModel

@{
    ViewBag.Title = "Cuci Baru";
}

<h2>
    <i class="fa fa-shopping-basket cuci-baru_image-title" aria-hidden="true"></i> Cuci Baru
</h2>

<hr/>

<div class="col-xs-12 cuci-baru_div-container">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fa fa-user" aria-hidden="true"></i> Data Pelanggan
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                        <div class="alert alert-danger" id="cuci-baru_div-pelanggan-error">
                            No HP belum terdaftar.
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Pelanggan.Hp, new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Pelanggan.Hp, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Pelanggan.Hp, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="cuci-baru_div-periksa-pelanggan">
                            <button class="btn btn-warning" id="cuci-baru_btn-ulang-cari-pelanggan">
                                <i class="fa fa-search  " aria-hidden="true"></i> Ulangi
                            </button>
                            <button class="btn btn-success" id="cuci-baru_btn-periksa-pelanggan">
                                <i class="fa fa-check" aria-hidden="true"></i> Periksa No HP
                            </button>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Pelanggan.Nama, new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Pelanggan.Nama, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Pelanggan.Nama, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Pelanggan.NoKtp, new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Pelanggan.NoKtp, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Pelanggan.NoKtp, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Pelanggan.Alamat, new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Pelanggan.Alamat, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Pelanggan.Alamat, "", new {@class = "text-danger"})
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="fa fa-black-tie" aria-hidden="true"></i> Detail Cucian
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    Masukkan Detail Cucian
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="fa fa-credit-card" aria-hidden="true"></i> Pembayaran
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    Detail Pembayaran
                </div>
            </div>
        </div>

    </div>
    <div class="cuci-baru_div-aksi">
        <button class="btn btn-primary btn-lg cuci-baru_btn-batal"><i class="fa fa-times" aria-hidden="true"></i> Batal</button>
        <button class="btn btn-primary btn-lg cuci-baru_btn-proses"><i class="fa fa-floppy-o" aria-hidden="true"></i> Proses</button>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jcleanlaundry")

<script>
    $(document).ready(function() {

        cucibaru_nonaktifkanpelanggan();

        $("#cuci-baru_btn-periksa-pelanggan").click(function() {
            cucibaru_cekNoHpPelanggan('@Url.Action("CekNoPelanggan", "Transaction")');
        });

        $("#cuci-baru_btn-ulang-cari-pelanggan").click(function () {
            cucibaru_nonaktifkanpelanggan();
        });

    });
</script>
